<% cache do%>
  <footer class="footer mt-auto pb-3 pt-3">
          <div class="inner">
            <p>Copyright &copy; <a href="https://github.com/asadtariq-dev/">Asad Tariq</a></p>
          </div>
  </footer>
<%end%>
