
<header class="masthead mb-auto container pt-4">
        <div class="inner">
          <h3 class="masthead-brand">Store</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Add Product</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>
