<header class="head mb-auto container pt-4">
        <div class="inner">
          <h3 class="head-name"><a href="/">Store</a></h3>
          <nav class="nav nav-head justify-content-center">
            <a class="nav-link active" href="/products">Home</a>
            <a class="nav-link" href="/products/new">Add Product</a>
            <a class="nav-link" href="/reviews/index">Reviews</a>
          </nav>
        </div>
        <br/><br/>
      </header>
