$danger-color: rgba(255, 93, 93, 0.79);
$success-color: rgba(153, 255, 153, 0.734);

.alert-success {
  color: white;
  background-color: $success-color;
}

.alert-danger {
  color: white;
  background-color: $danger-color;
}
