$primary-color: mediumaquamarine;
$primary-hover: rgb(104, 210, 175);
$secondary-color: salmon;
$secondary-hover: rgb(255, 104, 87);
$bg-color: #0d1117;

.form-container {
  max-width: 30rem;
}
.inner-body {
  background-color: rgba(188, 188, 188, 0.368);
  border-radius: 0.3rem;
  border-width: 0.1rem;
  color: white;
  padding-inline: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.form-btn {
  background-color: $primary-color;
  color: white;
  border-radius: 0.3rem;
  border-width: 0rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  &:hover {
    background-color: $primary-hover;
  }
}

.error {
  color: $secondary-color;
  font-size: medium;
}
