$primary-color: mediumaquamarine;
$primary-hover: aquamarine;
$secondary-color: salmon;
$bg-color: #0d1117;


html,
body {
  height: 100%;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.874);
}
.store-container {
  max-width: 55rem;
}

.product-item:hover {
  border-color: $secondary-color !important;
  background-color: rgba(250, 128, 114, 0.05);
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $primary-hover;
  }
}
