<div class="pt-5">
<% @products.each do |product| %>

<h2><%= product.name %></h2>
<p><%= analyze_price(product) %></p>
<p>Added: <%= time_ago_in_words(product.created_at) %> ago</p>

<p><%= link_to 'Details', product %></p>
<hr size="3" />
<% end %>
</div>
